.ban-message {
  text-align: center;
  margin-top: 300px;
}

.main-message {
  color: red;
}

.detail-message {
  margin-top: 30px;
}

.logo {
  color: white;
}

.share-url {
  margin-top: 60px;
}

.share-url-btn {
  margin: 0px auto;
  padding: 5px 15px;
  background-color: rgb(206, 206, 206);
  width: 150px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.share-url-img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.add-member-form {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.member-name-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.member-amount-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 220px;
}

.seat-confirm-wrapper {
  margin: 20px 0px;
}

.seat-confirm {
  display: flex;
  justify-content: center;
}

.added-name-list {
  height: 30px;
  font-size: 12px;
  border: 0.3px solid gray;
  margin: 5px 10px;
  padding: 5px;
}

.added-member-list {
  padding: 0px;
}

.delete-added-member {
  height: 20px;
  border-radius: 3px;
  border: none;
}

.current-member {
  text-align: center;
  margin: 10px;
}

.current-member-amount {
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.group-topic {
  padding: 10px;
  background-color: rgb(147, 216, 225);
  font-weight: bold;
}

.group-wrapper {
  z-index: 1;
}

.display-group {
  z-index: 10000;
}
